<div class="breadcomb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div style="background-color: #fff; padding: 15px; height: 100%; display: block;">
          <div class="main-menu-area">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="widget-tabs-list">
                          <ul class="nav nav-tabs">
                              <li class="active"><a data-toggle="tab" href="#home">Deposit</a></li>
                              <li><a data-toggle="tab" href="#menu1">Withdraw</a></li>
                              <li><a data-toggle="tab" href="#menu2">Currency Exchange</a></li>
                          </ul>
                          <div class="tab-content tab-custom-st">
                              <div id="home" class="tab-pane fade in active">
                                  <div class="tab-ctn">
                                    <h3>Deposit</h3>
                                    <br>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="btn-demo-notika" style="padding: 0px;">
                                          <button class="btn btn-default notika-btn-default waves-effect">CZK</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">DKK</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">EUR</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">GBP</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">KZT</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">PLN</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">RUB</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">SEK</button>
                                          <button class="btn btn-default notika-btn-default waves-effect">USD</button>
                                          <br>
                                          <br>
                                          <div class="material-design-btn">
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">BTC</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">LTC</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">ETH</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">ZEC</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">DASH</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">XRP</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">XMR</button>
                                            <button class="btn notika-btn-gray btn-reco-mg btn-button-mg waves-effect">BCH</button>
                                            </div>
                                        </div>
                                        <br>
                                        <br>
                                        <p>
                                          1. Transfer money from your bank, e-money or crypto wallet account to your Iman investor account, indicating your investor ID number in the payment details. <br>
                                          2. Your payment processing time depends on the payment method you choose. <br>
                                          3. You will receive an e-mail notification as soon as the funds are added to your accounts and can start investing right away.
                                        </p>
                                     </div>
                                   </div>
                                 </div>
                              </div>
                              <div id="menu1" class="tab-pane fade">
                                  <div class="tab-ctn">
                                    <h3>Widthdraw</h3>
                                    <br>
                                    <p>Iman specialists will process your withdrawal request within two (2) business days and transfer the specified amount to your account.</p>
                                    <div class="row">
                                      <div class="col-md-3">
                                        <label>Available cash</label>
                                        <input type="text" disabled value="$19.02" class='form-control'/>
                                        <br>
                                        <label>Withdrawal amount</label>
                                        <input type="text" value="$19.02" class='form-control'/>
                                        <br>
                                        <!-- <label>Your bank account</label>
                                        <select class="custom-select form-control">
                                          <option selected>Choose an account</option>
                                          <option value="1">Steve Jobs</option>
                                          <option value="2">Elon Musk</option>
                                          <option value="3">Bill Gates</option>
                                        </select> -->
                                        <!-- <br> -->
                                        <button class="btn btn-primary">Withdraw</button>
                                      </div>
                                      <!-- <div class="col-md-offset-2 col-md-5">
                                        <h4>For your information</h4>
                                        <p>You can make a withdrawal - uploaded documents have been approved and your investroy account is fully verified</p>
                                        <button class="btn btn-primary">Upload Verifycation Documents</button>
                                      </div> -->
                                    </div>
                                  </div>
                              </div>
                              <div id="menu2" class="tab-pane fade">
                                  <div class="tab-ctn">
                                    <h3>Currency Exchange</h3>
                                    <br>
                                    <p>To invest in loans denominated in different currencies, you can buy corresponding currencies here. You no longer need to use your bank or other currency exchange service provider. With Iman you can conviniently exchange currency in an instant and avoid unfavorable exchange rates and high fees from banks.</p>
                                    <br><br>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <label for="">I want to sell</label>
                                        <div class="row">
                                          <div class="col-md-8">
                                            <input type="text" class="form-control" value="10.00"/>
                                          </div>
                                          <div class="col-md-4">
                                            <select class="form-control" style="margin-left: -40px;">
                                              <option selected>EUR</option>
                                              <option value="1">USD</option>
                                              <option value="2">RUB</option>
                                              <option value="3">BTC</option>
                                            </select>
                                          </div>
                                        </div>
                                        <br>
                                        <label for="">I want to buy</label>
                                        <div class="row">
                                          <div class="col-md-8">
                                            <input type="text" class="form-control" value="20.00"/>
                                          </div>
                                          <div class="col-md-4">
                                            <select class="form-control" style="margin-left: -40px;">
                                              <option selected>GEL</option>
                                              <option value="1">USD</option>
                                              <option value="2">RUB</option>
                                              <option value="3">BTC</option>
                                            </select>
                                          </div>
                                        </div>
                                        <br>
                                        <div class="text-center text-muted">
                                          € 0.20 Iman fee (included) <br>
                                          1 EUR = 2.724100 GEL
                                          <br><br>
                                          <button class="btn btn-primary">Convert</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
