<footer class="jsx-4225977845 siteFooter">
  <!--<div class="jsx-2096601795 contactLinksModule">
    <div class="jsx-2096601795 siteWidthContainer">
      <div class="jsx-2096601795 topText">
        <p class="jsx-2096601795 title">We’re Always Here To Help</p>
        <p class="jsx-2096601795 summary">Reach out to us through any of these support channels</p>
      </div>
      <ul class="jsx-2096601795">
        <li class="jsx-2096601795">
          <a href="https://help.noon.com/hc/en-us" target="_blank" rel="noopener noreferrer" class="jsx-2096601795">
            <i class="icon icon-info-o " style="color:;font-size:"></i>
            <p class="jsx-2096601795"><span class="jsx-2096601795 heading">Help Center</span>help.noon.com</p>
          </a>
        </li>
        <li class="jsx-2096601795">
          <a href="mailto:care@noon.com" class="jsx-2096601795">
            <i class="icon icon-envelope-o " style="color:;font-size:"></i>
            <p class="jsx-2096601795"><span class="jsx-2096601795 heading">Email Support</span>care@noon.com</p>
          </a>
        </li>
        <li class="jsx-2096601795">
          <a href="tel:800-38888" class="jsx-2096601795">
            <i class="icon icon-phone-o " style="color:;font-size:"></i>
            <p class="jsx-2096601795"><span class="jsx-2096601795 heading">Phone Support</span>800-38888</p>
          </a>
        </li>
        <li class="jsx-2096601795">
          <a href="https://web.whatsapp.com/send?phone=97180038888" target="_blank" class="jsx-2096601795">
            <i class="icon icon-whatsapp " style="color:;font-size:"></i>
            <p class="jsx-2096601795 whatsapp"><span class="jsx-2096601795 heading"></span>WhatsApp Us</p>
          </a>
        </li>
      </ul>
    </div>
  </div>-->
  <div class="jsx-4225977845 primaryRow">
    <div class="jsx-4225977845 siteWidthContainer">
      <div class="jsx-4225977845 categoryLinksModule">
        <div class="jsx-4225977845 category">
          <p class="jsx-4225977845">electronics</p>
          <ul class="jsx-4225977845">
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/mobiles">mobiles</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/tablets">tablets</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/laptops">laptops</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/home-appliances">home appliances</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/cameras">camera, photo &amp; video</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/televisions">televisions</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/headphones-24056">headphones</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/video-games">video games</a></li>
          </ul>
        </div>
        <div class="jsx-4225977845 category">
          <p class="jsx-4225977845">fashion</p>
          <ul class="jsx-4225977845">
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/fashion-women">women&#x27;s fashion</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/fashion-men">men&#x27;s fashion</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/girls-31223">girls&#x27; fashion</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/boys-31221">boys&#x27; fashion</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/fashion/watches-16413">watches</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/jewellery-10169">jewellery</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/handbags-16699">women&#x27;s handbags</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/eyewear-and-eyewear-accessories-19605">men&#x27;s eyewear</a></li>
          </ul>
        </div>
        <div class="jsx-4225977845 category">
          <p class="jsx-4225977845">home and kitchen</p>
          <ul class="jsx-4225977845">
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/bath-16182">bath</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/home-decor">home decor</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/kitchen-dining">kitchen &amp; dining</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/tools-and-home-improvement">Tools &amp; Home Improvement</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/audio-video">audio &amp; video</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/furniture-10180">furniture</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/home-and-kitchen/patio-lawn-and-garden">Patio, Lawn &amp; Garden</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/pet-supplies">pet supplies</a></li>
          </ul>
        </div>
        <div class="jsx-4225977845 category">
          <p class="jsx-4225977845">beauty</p>
          <ul class="jsx-4225977845">
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/fragrance">fragrance</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/makeup-16142">make-up</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/hair-care">haircare</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/skin-care-16813">skincare</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/personal-care-16343">personal care </a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/tools-and-accessories">tools &amp; accessories</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/mens-grooming">men&#x27;s grooming</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/vitamins-and-dietary-supplements">vitamins</a></li>
          </ul>
        </div>
        <div class="jsx-4225977845 category">
          <p class="jsx-4225977845">baby</p>
          <ul class="jsx-4225977845">
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/strollers-18691">Strollers &amp; Prams</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/car-seats">car seats</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/feeding-16153">feeding</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/baby-products/bathing-and-skin-care">bathing &amp; skincare</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/diapering">diapering</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/baby-products/clothing-shoes-and-accessories">baby clothing &amp; shoes</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/toys-and-games/baby-and-toddler-toys">baby &amp; toddler toys</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/baby-foods">baby foods</a></li>
          </ul>
        </div>
        <div class="jsx-4225977845 category">
          <p class="jsx-4225977845">top brands</p>
          <ul class="jsx-4225977845">
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/mothercare">mothercare</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/apple">apple</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/nike">nike</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/samsung">samsung</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/tefal">tefal</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/loreal">l&#x27;Oreal paris</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/skechers">skechers</a></li>
            <li class="jsx-4225977845 uspContainer"><a class="jsx-4225977845 link" href="/uae-en/silsal">silsal</a></li>
          </ul>
        </div>
      </div>
      <!--<div class="jsx-4225977845 moduleRow">
        <div class="jsx-1772550344 appLinksModule">
          <p class="jsx-1772550344 title">Shop On The Go</p>
          <div class="jsx-1772550344 badgesContainer"><a target="_blank" href="https://itunes.apple.com/app/noon-%D9%86%D9%88%D9%86/id1269038866?ls=1&amp;mt=8" rel="noopener noreferrer" aria-label="Visit the AppStore (opens in a new window)" class="jsx-1772550344 ios">ios App</a><a target="_blank" href="https://play.google.com/store/apps/details?id=com.noon.buyerapp" rel="noopener noreferrer" aria-label="Visit the PlayStore (opens in a new window)" class="jsx-1772550344 android">Android App</a></div>
        </div>
        <div class="jsx-1844971943 socialLinksModule">
          <p class="jsx-1844971943 title">Connect With Us</p>
          <ul class="jsx-1844971943">
            <li class="jsx-1844971943"><a href="https://facebook.com/noon/" target="_blank" rel="noopener noreferrer" title="Facebook" class="jsx-1844971943"><i class="icon icon-facebook " style="color:;font-size:"></i></a></li>
            <li class="jsx-1844971943"><a href="https://twitter.com/noon/" target="_blank" rel="noopener noreferrer" title="Twitter" class="jsx-1844971943"><i class="icon icon-twitter " style="color:;font-size:"></i></a></li>
            <li class="jsx-1844971943"><a href="https://www.instagram.com/noon/" target="_blank" rel="noopener noreferrer" title="Instagram" class="jsx-1844971943"><i class="icon icon-instagram " style="color:;font-size:"></i></a></li>
            <li class="jsx-1844971943"><a href="https://www.linkedin.com/company/18045372/" target="_blank" rel="noopener noreferrer" title="Linked In" class="jsx-1844971943"><i class="icon icon-linkedin " style="color:;font-size:"></i></a></li>
          </ul>
        </div>
      </div>-->
    </div>
  </div>
  </div>
  </div>
  </div>
</footer>
