<!DOCTYPE html><html lang="en-AE" dir="ltr" data-version="v7.0.2"><head><meta charSet="utf-8" class="next-head"/><title class="next-head">noon</title><link rel="preload" href="https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/_next/static/f5y43_DM~53Fc90BxVUPp/pages/login.js" as="script"/><link rel="preload" href="https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/_next/static/f5y43_DM~53Fc90BxVUPp/pages/_app.js" as="script"/><link rel="preload" href="https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/_next/static/f5y43_DM~53Fc90BxVUPp/pages/_error.js" as="script"/><link rel="preload" href="https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/_next/static/runtime/webpack-42652fa8b82c329c0559.js" as="script"/><link rel="preload" href="https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/_next/static/chunks/commons.c491fd241960b51cea29.js" as="script"/><link rel="preload" href="https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/_next/static/runtime/main-2f7c8a335321623d62c1.js" as="script"/><style id="__jsx-611878243">#header.jsx-611878243{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row-reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse;line-height:57px;min-height:57px;font-size:1.1rem;font-weight:600;width:100%;}
.english.jsx-611878243,.arabic.jsx-611878243{cursor:pointer padding-left:40px;padding-right:40px;}
.english.jsx-611878243:hover,.arabic.jsx-611878243:hover{color:#3866df;}
.arabic.jsx-611878243{font-family:"Cairo";}</style><style id="__jsx-3583247054">.threeBounce.jsx-3583247054{margin:0;width:80px;text-align:center;margin:0 auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.child.jsx-3583247054{width:20px;height:20px;background-color:#404553;border-radius:100%;display:inline-block;margin:0 2px;-webkit-animation-name:bounce-jsx-3583247054;animation-name:bounce-jsx-3583247054;-webkit-animation-duration:1.4s;animation-duration:1.4s;-webkit-animation-fill-mode:ease-in-out;animation-fill-mode:ease-in-out;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;-webkit-animation-direction:both;animation-direction:both;}
.bounce1.jsx-3583247054{-webkit-animation-delay:-0.32s;animation-delay:-0.32s;}
.bounce2.jsx-3583247054{-webkit-animation-delay:-0.16s;animation-delay:-0.16s;}
@-webkit-keyframes bounce-jsx-3583247054{0%,80%,100%{-webkit-transform:scale(0);-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}40%{-webkit-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}
@keyframes bounce-jsx-3583247054{0%,80%,100%{-webkit-transform:scale(0);-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);}40%{-webkit-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);}}</style><style id="__jsx-1132835993">.wrapper.jsx-1132835993{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;}
.formContainer.jsx-1132835993{width:80%;max-width:390px;}
.logoLink.jsx-1132835993{cursor:pointer;}
#title.jsx-1132835993{font-size:1.785rem;font-weight:700;}
.welcome.jsx-1132835993{font-size:1.785rem;}
.link.jsx-1132835993{color:#3866df;}
.slug.jsx-1132835993{margin:12px 0;}</style><style id="__jsx-3547331669">#wrapper.jsx-3547331669{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;min-height:100vh;}
#wrapper.jsx-3547331669:before{content:'';width:100%;height:100%;background-repeat:no-repeat;background-position:0 0;position:absolute;z-index:-1;}
.partners.jsx-3547331669{background:url("https://login.noon.com/static/images/partners/bg.svg") no-repeat fixed center;background-size:cover;}
.com.jsx-3547331669:before{background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzNjQiIGhlaWdodD0iNDI3Ij48cGF0aCBmaWxsPSIjRkFGQkZEIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0tMTA4LjU5LTM0Ljk0M2MtMTA2LjAzMSAxMDIuMzk0LTEwMS4zNzcgMjcyLjA3Mi0uMTY1IDM3Ni44OCAxMDUuOTM1IDEwOS42OTggMjgwLjI4MyAxMTMuMTQgMzg4LjM1MyA4Ljc3OSA2My4yMTEtNjEuMDQzIDg5LjEzNy0xNDUuMTg2IDgyLjUzNC0yMjYuMjkxbC04OC45OTIgMjIuMTAyYzMuMTM4IDQ5Ljc3My0xNC42MzEgMTAzLjE4NS01NS4wMDQgMTQyLjE3My03My40MDUgNzAuODg3LTE5Mi40NDMgNjguNDEtMjY0LjkwMy02LjYyNC03Mi4wNzEtNzQuNjMyLTcwLjM5Mi0xOTMuNjg0IDUuMDUxLTI2Ni41MzkgOC45Ny04LjY2MiAxOC43MzQtMTYuNTEgMjguODc1LTIzLjE0OWwtOTUuNzQ5LTI3LjMzem00NDQuNjk3IDY1LjQ5NUMzMjQuOTI0IDUuMSAzMTEuNjMtMTQuMzc2IDI5NS40ODMtMzEuMDk2Yy0xMi4yMDctMTIuNjQxLTI0LjQ3My0yMi4wNzYtMzMuOTc4LTI4LjY1OUwxNDcuMTQ0LTMxLjI4YzIzLjkzNSA2LjgzNSA0OC4xMjYgMjIuMDkgNjguOTk1IDQzLjcwMiAxMi4yMSAxMi42NDQgMjEuNjA3IDI1LjYzNSAyOS43NjMgNDAuNjE0bDkwLjIwNS0yMi40ODR6Ii8+PC9zdmc+');}
#content.jsx-3547331669{-webkit-flex:1;-ms-flex:1;flex:1;width:100%;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;padding:0 10px;}
.yellow.jsx-3547331669{background-color:#feee00;}
.grey.jsx-3547331669{background-color:#404553;}
@media only screen and (min-width: 480px){#content.jsx-3547331669{padding:0 40px;}}</style><style id="__jsx-1891520938">@font-face{font-family:"Proxima Nova";src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274145/910c69c9-1457-45b2-9db2-09eb4b2921eb.eot?#iefix");src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274145/910c69c9-1457-45b2-9db2-09eb4b2921eb.eot?#iefix") format("eot"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274145/38b02c72-795a-436d-96b6-63bf366b0b4c.woff2") format("woff2"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274145/5e902f22-dc96-42db-9cea-596fd6e0128f.woff") format("woff"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274145/7a4accfd-087c-4552-a16f-a3eba295def8.ttf") format("truetype");font-weight:300;font-style:normal;}
@font-face{font-family:"Proxima Nova";src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274151/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix");src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274151/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix") format("eot"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274151/781c5453-0067-4e64-9386-7c0726d63d57.woff2") format("woff2"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274151/510df0e5-5b9f-4a1c-b46a-bcf1739bda43.woff") format("woff"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274151/47e08118-5050-469b-a40c-dc3b2307e87e.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:"Proxima Nova";src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274157/2e16962e-d63b-4e8e-a35c-dc7ba5faf6f6.eot?#iefix");src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274157/2e16962e-d63b-4e8e-a35c-dc7ba5faf6f6.eot?#iefix") format("eot"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274157/672e09ff-117f-47a9-ad39-2af9420ccb79.woff2") format("woff2"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274157/db9d12b0-9307-4b1f-88bf-ebb676516c3b.woff") format("woff"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274157/79d731fe-d29c-48b7-9312-f503ee13216f.ttf") format("truetype");font-weight:600;font-style:normal;}
@font-face{font-family:"Proxima Nova";src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274163/c46a6af2-17e1-44cd-b22e-cde8ac5522bc.eot?#iefix");src:url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274163/c46a6af2-17e1-44cd-b22e-cde8ac5522bc.eot?#iefix") format("eot"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274163/36b2c5d9-5814-4505-ba7a-f94849f9d8d9.woff2") format("woff2"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274163/a77f80ae-abcf-401e-9cb3-ab84498fc03b.woff") format("woff"), url("https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/1274163/7f5a805f-22af-4c2d-b5f9-ab2f4738f783.ttf") format("truetype");font-weight:bold;font-style:normal;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:200;src:local('Cairo ExtraLight'),local('Cairo-ExtraLight'),url("https://fonts.gstatic.com/s/cairo/v2/XsUOtFIEOx9iWLLrJsllsBkAz4rYn47Zy2rvigWQf6w.woff2") format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:200;src:local('Cairo ExtraLight'),local('Cairo-ExtraLight'),url("https://fonts.gstatic.com/s/cairo/v2/m_6Y_1Nb823vSGJGfT_5vHYhjbSpvc47ee6xR_80Hnw.woff2") format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:400;src:local('Cairo'),local('Cairo-Regular'),url("https://fonts.gstatic.com/s/cairo/v2/KHiPzIiPko_Fw3pWntR2CoDGDUGfDkXyfkzVDelzfFk.woff2") format('woff2');unicode-range:U+0600-06FF,U+200C-200E,U+2010-2011,U+204F,U+2E41,U+E0FF,U+EFFD,U+F000,U+FB50-FDFF,U+FE80-FEFC;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:400;src:local('Cairo'),local('Cairo-Regular'),url("https://fonts.gstatic.com/s/cairo/v2/iExxv6nlTbTZ7OYq-WHjN4DGDUGfDkXyfkzVDelzfFk.woff2") format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:400;src:local('Cairo'),local('Cairo-Regular'),url("https://fonts.gstatic.com/s/cairo/v2/9AWxzDXz2R7tHfJeCoIOqqCWcynf_cDxXwCLxiixG1c.woff2") format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:700;src:local('Cairo Bold'),local('Cairo-Bold'),url("https://fonts.gstatic.com/s/cairo/v2/RLgQnjqLWN5-LcxkRZr1cBkAz4rYn47Zy2rvigWQf6w.woff2") format('woff2');unicode-range:U+0600-06FF,U+200C-200E,U+2010-2011,U+204F,U+2E41,U+E0FF,U+EFFD,U+F000,U+FB50-FDFF,U+FE80-FEFC;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:700;src:local('Cairo Bold'),local('Cairo-Bold'),url("https://fonts.gstatic.com/s/cairo/v2/UlKq8fG0ZzFfhYvIA2PuURkAz4rYn47Zy2rvigWQf6w.woff2") format('woff2');unicode-range:U+0100-024F,U+0259,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:700;src:local('Cairo Bold'),local('Cairo-Bold'),url("https://fonts.gstatic.com/s/cairo/v2/IGeshMgNVhb2XU2TGWkITnYhjbSpvc47ee6xR_80Hnw.woff2") format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2212,U+2215;}
@font-face{font-family:'icomoon';src:url('https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/icomoon.eot?qoxotp');src:url('https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/icomoon.eot?qoxotp#iefix') format('embedded-opentype'), url('https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/icomoon.ttf?qoxotp') format('truetype'), url('https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/icomoon.woff?qoxotp') format('woff'), url('https://k.nooncdn.com/s/app/2018/com-login/f5y43_DM~53Fc90BxVUPp/static/fonts/icomoon.svg?qoxotp#icomoon') format('svg');font-weight:normal;font-style:normal;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;font-family:'Proxima Nova',sans-serif;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
html,body{font-family:Proxima Nova,Helvetica Neue,Arial,sans-serif;line-height:1.3;color:#404553;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
html{font-size:12px;}
@media only screen and (min-width: 768px){html{font-size:13px;}}
@media only screen and (min-width: 992px){html{font-size:14px;}}
html[dir=rtl] body{font-family:Cairo,sans-serif;}
body{min-height:100vh;background-color:#fff;}
.siteWidthContainer{padding-left:15px;padding-right:15px;margin:0 auto;max-width:1400px;box-sizing:border-box;}
@media only screen and (min-width: 768px){.siteWidthContainer{padding-left:30px;padding-right:30px;}}
@media only screen and (min-width: 992px){.siteWidthContainer{padding-left:45px;padding-right:45px;}}
strong,b{font-weight:bold;}
a{-webkit-text-decoration:none;text-decoration:none;cursor:pointer;color:inherit;}
a,button{cursor:pointer;}
a:focus,input:focus,button:focus{outline:0;}
input,button,textarea,select{font:inherit;color:inherit;padding:0;margin:0;border:0;box-sizing:border-box;}
input,textarea,select{border:1px solid #e2e5f1;}
button{background-color:transparent;}
@font-face{font-family:'Cairo';font-style:normal;font-weight:200;src:local('Cairo ExtraLight'),local('Cairo-ExtraLight'),url("https://fonts.gstatic.com/s/cairo/v2/5LOQ_MoEyLNG0tEIw7VXBhkAz4rYn47Zy2rvigWQf6w.woff2") format('woff2');unicode-range:U+0600-06FF,U+200C-200E,U+2010-2011,U+204F,U+2E41,U+E0FF,U+EFFD,U+F000,U+FB50-FDFF,U+FE80-FEFC;}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-pencil:before{content:"\e947";}
.icon-aeroplane-o:before{content:"\e900";}
.icon-aeroplane:before{content:"\e901";}
.icon-angle-down:before{content:"\e902";}
.icon-angle-up:before{content:"\e903";}
.icon-angle-left:before{content:"\e904";}
.icon-angle-right:before{content:"\e905";}
.icon-arrow-up:before{content:"\e906";}
.icon-arrow-left:before{content:"\e907";}
.icon-arrow-right:before{content:"\e908";}
.icon-arrow-down:before{content:"\e909";}
.icon-bell:before{content:"\e90a";}
.icon-suitcase:before{content:"\e90b";}
.icon-calendar:before{content:"\e90c";}
.icon-caret-down:before{content:"\e90d";}
.icon-caret-up:before{content:"\e90e";}
.icon-cart-o:before{content:"\e90f";}
.icon-cart:before{content:"\e910";}
.icon-checkbox-checked:before{content:"\e911";}
.icon-checkbox-unchecked:before{content:"\e912";}
.icon-cross:before{content:"\e913";}
.icon-tick:before{content:"\e914";}
.icon-coins:before{content:"\e915";}
.icon-credit-card-o:before{content:"\e916";}
.icon-credit-card:before{content:"\e917";}
.icon-envelope-o:before{content:"\e918";}
.icon-privacy-off:before{content:"\e919";}
.icon-privacy-on:before{content:"\e91a";}
.icon-sort:before{content:"\e91b";}
.icon-flag:before{content:"\e91c";}
.icon-globe:before{content:"\e91d";}
.icon-grid-o:before{content:"\e91e";}
.icon-grid:before{content:"\e91f";}
.icon-headphones:before{content:"\e920";}
.icon-heart-o:before{content:"\e921";}
.icon-heart:before{content:"\e922";}
.icon-home-o:before{content:"\e923";}
.icon-home:before{content:"\e924";}
.icon-info-o:before{content:"\e925";}
.icon-info:before{content:"\e926";}
.icon-lines:before{content:"\e927";}
.icon-lock-o:before{content:"\e928";}
.icon-lock:before{content:"\e929";}
.icon-map-marker-o:before{content:"\e92a";}
.icon-map-marker:before{content:"\e92b";}
.icon-minus:before{content:"\e92c";}
.icon-noon:before{content:"\e92d";}
.icon-notepad:before{content:"\e92e";}
.icon-phone-o:before{content:"\e92f";}
.icon-phone:before{content:"\e930";}
.icon-plus:before{content:"\e931";}
.icon-power:before{content:"\e932";}
.icon-radio-checked:before{content:"\e933";}
.icon-radio-unchecked:before{content:"\e934";}
.icon-dots:before{content:"\e935";}
.icon-search:before{content:"\e936";}
.icon-share:before{content:"\e937";}
.icon-filter:before{content:"\e938";}
.icon-star-o:before{content:"\e939";}
.icon-star:before{content:"\e93a";}
.icon-timer:before{content:"\e93b";}
.icon-book:before{content:"\e93c";}
.icon-broadcast:before{content:"\e93d";}
.icon-help:before{content:"\e93e";}
.icon-help-o:before{content:"\e93f";}
.icon-user-sign-in:before{content:"\e940";}
.icon-user:before{content:"\e941";}
.icon-users:before{content:"\e942";}
.icon-warning-o:before{content:"\e943";}
.icon-warning:before{content:"\e944";}
.icon-medal-o:before{content:"\e945";}
.icon-trash:before{content:"\e946";}
.icon-truck:before{content:"\e948";}
.icon-returns:before{content:"\e949";}
.icon-shield:before{content:"\e94a";}
.icon-wallet:before{content:"\e94b";}
.icon-offer-tag:before{content:"\e94c";}
.icon-return-arrow:before{content:"\e94d";}
.icon-medal:before{content:"\e94e";}
.icon-list:before{content:"\e94f";}
.icon-envelope:before{content:"\e950";}
.icon-twitter:before{content:"\f099";}
.icon-facebook:before{content:"\f09a";}
.icon-google-plus:before{content:"\f0d5";}
.icon-instagram:before{content:"\f16d";}</style>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="icon" href="../static/images/favicon.ico"/></head>
<body>
   <div id="__next">
      <div id="wrapper" class="jsx-3547331669 com">
         <div id="content" class="jsx-3547331669 siteWidthContainer">
            <div id="header" class="jsx-611878243">
               <div class="jsx-611878243 arabic">
                  <div class="jsx-611878243"><a class="jsx-611878243" href='/'>Back to ImanStore</a></div>
               </div>
            </div>
            <div class="jsx-1132835993 wrapper">
               <a href="https://noon.com/uae-en/" class="jsx-1132835993">
                  <div id="logo" class="jsx-1132835993 en logoLink"></div>
               </a>
               <div class="jsx-1132835993 welcome">Welcome back!</div>
               <div id="title" class="jsx-1132835993">Sign in to your account</div>
               <div class="jsx-1132835993 slug">Don’t have an account?<a class="jsx-1132835993 link" href="#">&nbsp;Sign up</a></div>
               <div class="jsx-1132835993 formContainer">
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div id="formContainer" class="jsx-1443961210">
                       <div class="jsx-1603497198 materialInput">
                          <div class="jsx-1603497198 group">
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'devise_field' %>
                          </div>
                       </div>
                       <div class="jsx-894178403 wrapper">
                          <div class="jsx-1603497198 materialInput">
                             <div class="jsx-1603497198 group">
                               <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'devise_field' %>
                             </div>
                          </div>
                          <div class="jsx-894178403 eye open"></div>
                       </div>
                       <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
                    </div>
                  <% end %>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
